.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  min-height: 90vh;   
}

@media screen and (min-width: 768px) {
  .wrapper{
    min-height: 100vh;
  }
}

.form{
  margin-top: 25px;
}

.text-wrapper{
  text-align: center;
  margin-top: 10px;
}