.wrapper{
  padding: 60px 50px;
  border-radius: 5px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  min-width: 280px;
  max-height: 400px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .wrapper{
    width: max-content;
    min-width: 380px}
}

@media screen and (min-width:768px) {
  .wrapper {
    min-width: 500px
  }
}

.wrapper select {
  background-color: #ffffff;
  color: #1d1d1da0;
  padding: 10px;
}

.wrapper input{
  background-color: #ffffff;
  color: #1d1d1da0;
}


.wrapper .accent {
  color: #1d1d1da0;
  background-color: #ffffff;
}


.wrapper-green{
  composes: wrapper;
  background-color: #E6FECD;
}

.wrapper-red {
  composes: wrapper;
  background-color: #FFE4E1; 
}

.wrapper-red .accent:disabled {
  background-color: #FD7364;
  color: #ffffff;
}

.wrapper-green .accent:disabled {
  background-color: #57C02A;
  color: #ffffff;
}

.wrapper-green select,
.wrapper-green input{
  color: #57C02A;
}

.wrapper-green input:focus {
  outline: 2px solid #57C02A;
}

.wrapper-red select,
.wrapper-red input {
  color: #FD7364;
}

.wrapper-red input:focus {
  outline: 2px solid #FD7364;
}

.wrapper input::placeholder {
  color: #1d1d1da0;
}



.button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper button{
  font-weight: 600;
  padding: 10px;
  border:none;
  min-width: 100px;
  cursor: pointer;
}



.button-wrapper button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button-wrapper button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-row {
  display: flex;
  gap: 5px;
}