.wrapper{
  padding: 50px;
  border-radius: 5px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #1d1d1da0;
  min-width: 280px;
  max-height: 400px;
}

@media screen and (min-width: 480px) {
  .wrapper{min-width: 380px}
}

@media screen and (min-width:768px) {
  .wrapper {
    min-width: 500px
  }
}
.button-close {
  line-height: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #F9B65F;
  color: #ffffff;
  border: none;
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  cursor: pointer;
}

.wrapper select {
  background-color: #ffffff4b;
  color: #1d1d1da0;
}

.wrapper input{
  background-color: #ffffff4b;
  color: #1d1d1da0;
}

.wrapper input:focus{
  outline: 2px solid #1d1d1da0;
}

.wrapper input::placeholder{
  color: #1d1d1da0;
}

.wrapper-green{
  composes: wrapper;
  background-color: #79FFB3;
}

.wrapper-red {
  composes: wrapper;
  background-color: #FF8379
}

.button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper button{
  font-weight: 600;
  padding: 10px;
  border:none;
  min-width: 100px;
  background-color: #ffffff23;
  color: #1d1d1d56;
  cursor: pointer;
}

.button-wrapper button:disabled{
  color: #1d1d1da0;
}

.button-wrapper button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button-wrapper button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-row {
  display: flex;
  gap: 5px;
}