.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 25px;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.header{
  width: 100%;
  padding: 15px 15px;
  background-color: #41377C;
  color: #FFFFFF;
}

.header-container{
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  gap: 15px;
  flex-wrap: wrap;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0px;
}

@media screen and (min-width: 480px) {
  .header-user{
    font-size: 12px;
  }
}

.balance-wrapper{
  background-color: #FFF9E3;
  padding: 25px;
  border-radius: 10px;
  height: max-content;
  width: 100%;
}

.balance-wrapper:hover,
.balance-wrapper:focus{
  background-color: #FFF5CF;
}

.balance-wrapper .title{
  font-size: 20px;
  font-weight: 500;
  color: #F9B65F;

}

.balance-wrapper .value {
  font-size: 48px;
  font-weight: 700;
  color: #FFCD02;;
}

.inside-wrapper {
  width: 100%;
}

.search-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
 
}

.search-option {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}

.search-option label{
  display: flex;
  flex-direction: column;
}


.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-top: 15px;
}

.item{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.item-income{
  composes: item;
  background-color: #E6FECD;
  color: #57C02A;
}

.item-cost{
  composes:item;
  background-color: #FFE4E1;
  color: #FD7364;
}

.data-holder{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.value{
  font-size: 36px;
  font-weight: 700;
}

.data{
  font-size: 12px;
  font-weight: 300;
}

