.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 15px;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 25px;
  }
}


.inside-wrapper {
  width: 100%;
}

.search-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

@media screen and (min-width: 480px) {
  .search-holder {
      flex-direction: row;
      align-items: flex-end;
      gap: 10px;
   
    }
}

.search-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.search-option input{
  width: 130px;
}

.last-btn-holder{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

}

@media screen and (min-width: 320px) {
.search-option {
  flex-direction: row;
  gap: 10px;
}
}

.search-option label{
  display: flex;
  flex-direction: column;
}


.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-top: 15px;
}

.item{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.item-income{
  composes: item;
  background-color: #E6FECD;
  color: #57C02A;
}

.item-cost{
  composes:item;
  background-color: #FFE4E1;
  color: #FD7364;
}

.data-holder{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.value{
  font-size: 36px;
  font-weight: 700;
}

.data{
  font-size: 12px;
  font-weight: 300;
}

