.wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.image-wrapper{
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
}

.image{
  width: 100%;
  height: 100%;
}

.title{
  font-size: 54px;
  font-weight: 900;
  color:#5B48A2;
}

.accent{
  color: #41377C;
  letter-spacing: -3px;
}