.item {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.item-income {
  composes: item;
  background-color: #E6FECD;
  color: #57C02A;
}

.item-cost {
  composes: item;
  background-color: #FFE4E1;
  color: #FD7364;
}

.data-holder {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.value {
  font-size: 36px;
  font-weight: 700;
}

.data {
  font-size: 12px;
  font-weight: 300;
}