.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999;
  background-color: rgba(247, 247, 247, 0.459);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  animation: fadeIn linear 300ms;
  overflow: hidden;
}

.holder{
  width: 100%;
  max-height: 100vh;
  padding: 25px;
 
  overflow: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}