.wrapper{
  background-color: #f5ebf7;;
  padding: 25px;
  border-radius: 10px;
  height: max-content;
  width: 100%;
  margin-top: 15px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 5px;
}

.item span{
  font-weight: 600;
}