.wrapper{
  background-color: #f5ebf7;;
  padding: 25px;
  border-radius: 10px;
  height: max-content;
  width: 100%;
  margin-top: 15px;
}


.title {
  font-size: 20px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}