.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 100vh;
  max-height: -webkit-fill-available;
}

.form {
  margin-top: 25px;
}

.text-wrapper {
  text-align: center;
  margin-top: 10px;
}