.wrapper {
  width: 100%;
  height: calc(100vh - calc(100vh - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.form {
  margin-top: 25px;
}

.text-wrapper {
  text-align: center;
  margin-top: 10px;
}