@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEFAFF;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: currentColor;
}

button{
  font: inherit;
}

