@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 300ms linear, 
              color 300ms linear;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEFAFF;
  color: #41377C;
  
}

main{
  display: flex;
  min-height: calc(100vh - calc(100vh - 100%));
  justify-content: center;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #F9B65F;
}

a:focus,
a:hover{
  color: #FFCD02
}

button{
  font: inherit;
}

input,
select{
  background-color: #f5ebf7;
  color: #41377C;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
}
select:focus,
input:focus{
  outline: 2px solid #41377C;
}

input::placeholder{
  color: #41377C;
  opacity: 0.3;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}